@import "settings";

*{
	padding: 0;
	margin: 0;
}

body {
	min-height: 200px;
	background: {
		image: url('../background.jpg');
	    attachment: fixed;
	    position: 50% 0;
	    repeat: no-repeat;
	    size: cover;
	}
	color: #DCDADB;
	font-family: sans-serif;
	line-height: 1.5;
}

h1 {
	color: $crimson;
	margin-bottom: 0;
}

h2 {
	color: $crimson;
}

.wrapper {
	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	overflow: auto;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	@media #{$low1024}{
		height: 100vh;
		width: 100%;
		border-radius: 0;
	}
}

#startGameDiv{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	.rules {
		padding: 10px;
	}

	#alert {
		display: none;
		color: red;
		margin: 5px;
	}

	label {
		font-size: 18pt;
		font-weight: bold;
		text-transform: uppercase;
		color: $crimson;
	}

	input {
		width: 30%;
		font-size: 20pt;
		background-color: #E7E7DE;
		border: 1px $tamarillo solid;
		text-align: center;
		padding: 5px;

		&:hover, &:focus {
			background-color: #EDFAFF;
		}
		@media #{$low1024}{
			width: 100%;
		}
	}

	button {
		width: 40%;
		margin: 20px;
		padding: 20px 30px;
		background-color: $crimson;
		border: none;
		color: $white;
		font-size: 18pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover, &:focus {
			background-color: $tamarillo;
		}

		@media #{$low1024}{
			width: 100%;
		}
	}
}

#gameDiv {
	display: none;

	.header {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.content {
		flex: 1 0 auto;
		text-align: center;
		align-self: stretch;

		#activePlayer, #results {
			padding: 10px 20px;
		}
	}

	.dice {
		margin: 0 auto;
		display: inline-flex;
		align-items: center;
		font-size: 150px;
		line-height: 0.9;
		@media #{$low1024}{
			font-size: 7em;
		}
	}
}

.chooseButtons {
	button {
		margin: 20px;
		padding: 20px 30px;
		background-color: $crimson;
		border: none;
		color: $white;
		font-size: 14pt;
		letter-spacing: 1px;
		&:hover {
			background-color: $tamarillo;
		}

		&:active, &:focus {
			background-color: $mahogany;
		}

		&.active {
			background-color: $mahogany;
		}
		@media #{$low1024}{
			margin: 5px;
		}
	}
}


#resultsDiv {
	display: none;
	margin-top: 20px;

	button {
		margin: 0 auto;
		width: 50%;
		padding: 20px 30px;
		background-color: $crimson;
		border: none;
		color: $white;
		font-size: 18pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover, &:focus {
			background-color: $tamarillo;
		}
		@media #{$low1024}{
			width: 100%;
			margin-top: 20px;
			font-size: 14pt;
		}
	}
}

#endGameDiv {
	display: none;
	text-align: center;

	#winner {
		font-size: 16pt;
	}

	button {
		margin: 20px;
		padding: 20px 30px;
		background-color: $crimson;
		border: none;
		color: $white;
		font-size: 18pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover, &:focus {
			background-color: $tamarillo;
		}
	}
}